VITE_CLERK_PUBLISHABLE_KEY=
DATABASE_URL=
AAWM_TAP_API_TARGET=http://host.docker.internal:8010
AAWM_TAP_API_KEY=
AAWM_TAP_ACCESS_TOKEN=
AAWM_TAP_ADMIN_CAPABILITY=
SHELL_REPORT_PORT=3010
SHELL_REPORT_DB_POOL_MAX=12
SHELL_REPORT_DATABASE_HOST_REWRITE=aawm-postgres18
SHELL_REPORT_DATABASE_PORT_REWRITE=5432
